<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    {% load static %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <title>Home</title>
</head>
<body>
<nav class="navbar bg-light navbar-expand">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Главная</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'services' %}">Услуги</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">О нас</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contacts' %}">Контакты</a></li>
    </ul>
</nav>
<main role="main" class="container mt-lg-5">
    <div class="starter-template">
        {% block content %}{% endblock %}
    </div>
</main>
</body>
</html>